.body{
    background-image: url("images/download.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

.navigation{
    text-align: center;
    margin-top: auto;
    list-style: none;
    width: 30%;
    float: right;
    align-items: inline;
    border: 2pt black solid;
    border-radius: 25px;
    background-color: blanchedalmond;
    height: 50px;
}

.navigation ul{
    align-items: inline;
    text-align: center;
    list-style: none;
    width: auto;
    height: 60px;    
}

.navigation ul li{
    display: inline;

}

.navigation ul li a{
    text-decoration: none;
    color: black;
    padding-left: 25px;
}

h1{
    font-size: xxx-large;
    color: white;
}

}
.one{
   background-color: rgb(245, 220, 222);
   margin-top: 200px;
   
}

.one p{
    text-align: center;
    color: black;
    font-size: x-large;
    background-color: blanchedalmond;
 }


.two{
    box-sizing: border-box;
    background-color: blanchedalmond;
}

p{
    margin: 20px;
}